/* General styles */
.portfolio {
  position: relative;
  background-color: var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 35px var(--padding-xl) 94px var(--padding-10xl);
  gap: 287px;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-gainsboro);
  font-family: var(--font-inter);
}

.chill {
  background: linear-gradient(95.28deg, #9c83ff, #ff9051);
  -webkit-background-clip: text;
  padding-left: 7px;
}

.span1 {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 3vw;
  font-size: 25px;
  padding-left: 7px;
}

.ido_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: white;
}

/* Media queries */
@media screen and (max-width: 1200px) {
  .portfolio {
    gap: 143px 287px;
  }
}

@media screen and (max-width: 750px) {
  .portfolio {
    gap: 72px 287px;
  }
}
