.container_home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: normal;

}

.ido_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: white;
}

.special {
  background-image: linear-gradient(95.28deg, #9c83ff, #ff9051);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* necessario per nascondere il testo */
  padding-left: 7px;
}

.span1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vw;
  font-size: 25px;
  padding-left: 7px;
}

.contact_button {
  padding-top: 30px;
}

.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding-top: 15px;
  font-size: 17px;
}


/* Media queries */
@media screen and (max-width: 1200px) {
  .portfolio {
    gap: 143px 287px;
  }
}

@media screen and (max-width: 750px) {
  .portfolio {
    gap: 72px 287px;
  }
}


/* .projects_container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.title_section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
} 

.section{
  background-image: linear-gradient(95.28deg, #9c83ff, #ff9051);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}*/